{% extends 'kanban_app/base.html' %}

{% block content %}
    <div class='main-upper'>
        <nav>
            <a class='nav-item' href='/kanban_app/home'>Home</a>
            <a class='nav-item' href='/kanban_app/{{area.name}}/new/create_project'>Create project</a>
            <a class='nav-item' href='/kanban_app/logout'>Logout</a>
            <a class="nav-item btn-toggle">Toggle Colour Mode</a>
        </nav>
        <br>
        <h1>{{area.name}} projects:</h1>
        <br>
    </div>
    <div class='project-list'>
        {%for project in area.projects.all|dictsort:"priority"%}
            <div class='priority priority{{project.priority}}'>
                <a class='project-list-item' href='/kanban_app/{{area.name}}/{{project.name}}'><h3><br>{{project.name}}</h3></a>
                <p>(Priority {{project.priority}})</p>
                <form method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name='priority' value="{{project.id}}">
                    <input type="submit" name='submit' value="Higher">
                    <input type="submit" name='submit' value="Lower">
                </form>
                <p>
                    <a href="/kanban_app/{{area.name}}/{{project.name}}/delete_project">Delete this project</a>
                    <a class='project-list-item' href='/kanban_app/{{area.name}}/{{project.name}}/create_project'>Create a new project using this template</a>    
                </p>

            </div>
            
            {% endfor %}
    </div>
    
{% endblock %}
