{% extends 'kanban_app/base.html' %}

{% block content %}

<nav>
    <a class='nav-item' href='/kanban_app/home'>Home</a>
    <a class='nav-item' href='/kanban_app/logout'>Logout</a>
</nav>

<div class='form-container'>
    <form method="post">
        {% csrf_token %}
        <div class='project-name-container'>
            <input class='right' type="text" name='project_name' value='{{project.name}}'>
            <input class='left item-button'  type="submit" name='submit' value="Change name">
        </div>
        <br>
        <div class='reset-save-quit-container'>
            <input class='item-button' type="submit" name='submit' value="Reset">
            <input class='item-button' type="submit" name='submit' value="Save and use">
            <input class='item-button' type="submit" name='submit' value="Quit and forget">
        </div>
        <br>
        <div class='create-column-container'>
            <input type="text" name='column_name' value='Column name'>
            <input class='item-button' type="submit" name='submit' value="Create column">
        </div>
    </form>
    <br>
    <div class='columns-grid'>
        {% for column in columns %}
        <div class='column'>
            {{column.name}}
            <div class='left-right-delete-button-array'>
            
            <form class='create-column-form' method="post">
                {% csrf_token %}
                <div class='item-button-grid'>
                    <input type="hidden" name='column_id' value = '{{column.id}}'>
                    <input class='item-button left-button' type="submit" name='submit' value="<<">
                    <input class='item-button' type="submit" name='submit' value="X">
                    <input class='item-button right-button' type="submit" name='submit' value=">>">
                </div>
                
            </form>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
