{% extends 'kanban_app/base.html' %}

{% block content %}
    <nav>
        <a class='nav-item' href='../new/create_project'>Create project</a>
        <a class='nav-item' href='../delete'>Delete project</a>
        <a class='nav-item' href='/kanban_app/logout'>Logout</a>
    </nav>

    <br>
    {% if object_list|length > 0 %}
        <h2>Open a project:</h1>
        <div class='project-list'>
            {% for project in object_list %}
                <a class='project-list-item' href='../{{project.name}}/project'>{{project.name}}</a>
            {% endfor %}
        </div>
    {% else %}
        <h2>Create a project...</h2>
    {% endif %}
    <br>
    {% if object_list|length > 0 %}
    
    <h2>Create a new project using a template:</h2>
    <div class='project-list'>
    {% for project in object_list %}
        <a class='project-list-item' href='../{{project.name}}/create_project'>{{project.name}}</a>
    {% endfor %}  
    </div>
    {% endif %}

{% endblock %}
