{% extends 'kanban_app/base.html' %}

{% block content %}

<nav>
    <a class='nav-item' href='/kanban_app/home'>Home</a>
    <a class='nav-item' href='/kanban_app/{{area.name}}'>Return to {{area.name}}</a>
    <a class='nav-item' href='/kanban_app/logout'>Logout</a>
    <a class="nav-item btn-toggle">Toggle Colour Mode</a>
</nav>

<h1>{{project.name}}</h1>
<br>
<form method="post">
    {% csrf_token %}
    <input type="text" name='item_name' value='New item'>
    <input type="datetime-local" name="target_time">
    <!--{{ NewItemForm }}-->
    <input type="submit" name='submit' value="New item">
</form>
<br>
<div class='columns-grid'>
    {% for column in columns %}
    <div class='column'>
        <h2>{{column.name}}</h2>
        <div class='item-grid'>
        {% for item in column.items.all|dictsort:"priority" %}   
            <div class='item priority priority{{item.priority}}'>            
                <br>
                {{item.name}}
                (Priority {{item.priority}})
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name='column_position' value = '{{column.position}}'>
                    <input type="hidden" name='column_id' value = '{{column.id}}'>
                    <input type="hidden" name='item_id' value = '{{item.id}}'>
   
                    <div class='item-button-grid'>
                        <input class='item-button left-button' type="submit" name='submit' value="<<">
                        <input class='item-button' type="submit" name='submit' value="Delete">
                        <input class='item-button right-button' type="submit" name='submit' value=">>">     
                    </div>
                    <input type="submit" name='submit' value="Higher">
                    <input type="submit" name='submit' value="Lower"><br>
                    {%if item.blocked%}
                    <input style='background:red;color:white;' type="submit" name='submit' value="Mark as clear">
                    {%elif not item.blocked%}
                    <input style='background:green;color:white;' type="submit" name='submit' value="Mark as blocked">
                    {%endif%}
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


<script>
    $(function () {
      $("#id_date").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
</script>