{% extends 'kanban_app/base.html' %}



{% block content %}

<a href='/kanban_app/home'>Home</a>

<h1>{{project.name}}</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name='item_name' value='New item'>
    <input type="datetime-local" name="target_time">
    <!--{{ NewItemForm }}-->
    <input type="submit" name='submit' value="New item">
</form>


<div class='columns-grid'>
    {% for column in columns %}
    <div class='column'>
        {{column.name}}
        <div class='item-grid'>
        {% for item in column.items.all|dictsort:"priority" %} 
            <div class='item'>
                {{item.name}}
                (Priority {{item.priority}})
                <form method="post">

                    {% csrf_token %}
                    
                    <input type="hidden" name='column_position' value = '{{column.position}}'>
                    <input type="hidden" name='column_id' value = '{{column.id}}'>
                    <input type="hidden" name='item_id' value = '{{item.id}}'>
   
                    <div class='item-button-grid'>
                        <input type="submit" name='submit' value="<<">
                        <input type="submit" name='submit' value=">>">
                        
                    </div>
                    <input type="submit" name='submit' value="Higher">
                    <input type="submit" name='submit' value="Delete">
                    <input type="submit" name='submit' value="Lower">
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


<script>
    $(function () {
      $("#id_date").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
</script>